/*
	@theme Mustache Placeholder
	@placeholder mustache
*/

@base {
	color: #000;
	background-color: #fff;
}

mustache.embedded {
  color: #d4430d;
  background-color: #fffdf7;
}

mustache.embedded > punctuation {
  color: #3a77bf;
}